
.health-status {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/*Healthy and unhealthy API conenciton blobs */
.healthy {
  background-color: #4caf50;
  box-shadow: 0 0 20px 2px #4caf50;
}

.unhealthy {
  background-color: #f44336;
  box-shadow: 0 0 20px 2px #f44336;
}